<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bingo Hall</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,600,800" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
          <ul class="nav nav-pills pull-right">
            <li>        
              <%= link "Switch Player", 
                       to: session_path(@conn, :delete), 
                       method: :delete %>
            </li>
          </ul>
        </nav>
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="letters">
              <span class="letter inverse">B</span>
              <span class="letter">U</span>
              <span class="letter">Z</span>
              <span class="letter">Z</span>
              <span class="letter">W</span>
              <span class="letter">O</span>
              <span class="letter">R</span>
              <span class="letter">D</span>
              <span class="letter inverse">B</span>
              <span class="letter">I</span>
              <span class="letter">N</span>
              <span class="letter">G</span>
              <span class="letter">O</span>
            </div>
          </div>
        </div>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer>
        built with 
        <a href="http://elixir-lang.org/" target="_blank">Elixir</a> + 
        <a href="http://www.phoenixframework.org/" target="_blank">Phoenix</a> +
        <a href="http://elm-lang.org/" target="_blank">Elm</a>
        by 
        <a href="https://twitter.com/pragmaticstudio"   
           target="_blank">@pragmaticstudio</a>
      </footer>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
